/* If you are using any Google fonts, change the font names below to your fonts.
Any spaces in your font name should be replaced with a +.
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

/* Root variables for colors and fonts */
:root {
    /* Change the values below to your colors from your palette */
    --primary-color: #396E94;
    --secondary-color: #E7C24F;
    --accent1-color: #A42212;
    --accent2-color: white;

    /* Change the values below to your chosen fonts */
    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Lato, Helvetica, sans-serif;

    /* These colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #396E94; /* Headlines on a white background */
    --headline-color-on-color: white; /* Headlines on a colored background */
    --paragraph-color-on-white: #396E94; /* Paragraph text on a white background */
    --paragraph-color-on-color: white; /* Paragraph text on a colored background */
    --paragraph-background-color: #396E94;
    --nav-link-color: #396E94;
    --nav-background-color: #D4AC0D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
}

/* General body styling */
body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
}

/* Image styling */
img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

/* Center align h2 elements */
h2 {
    text-align: center;
}

/* Horizontal rule styling */
hr {
    height: 3px;
}