body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #4a70cc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: white;
    transition: color 0.3s;
}

h1:hover {
    color: black;
}

p {
    margin: 20px 0;
}

li {
    color: black;
}

.quote {
    font-size: 1.5em;
    margin: 20px 0;
    font-style: italic;
}

.author {
    font-size: 1em;
    margin-top: 10px;
    color: black;
}

.list {
    text-align: left;
    display: inline-block;
    margin-top: 20px;
}

.list li {
    margin: 10px 0;
}

.image-container {
    margin: 20px 0;
}

.image-container img {
    width: 200px;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
}