body {
    background-color: #6a90ff;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    transition: color 0.3s;
}

h1:hover {
    color: black;
}

p {
    margin: 20px 0;
}

li {
    color:black
}


.quote {
    font-size: 1.5em;
    margin: 20px 0;
}

.author {
    font-size: 1em;
    margin-top: 10px;
}

.list {
    text-align: left;
    display: inline-block;
    margin-top: 20px;
}

.list li {
    margin: 10px 0;
}

.image-container {
    margin: 20px 0;
}

.image-container img {
    width: 200px;
    height: auto;
}